body{
	text-align: center;
}
h1 {
  color: rgb(127,127,127);
  padding-top: 10px;
}
.container{
	background-color: rgb(211,211,211);
	display: block;
	padding-bottom: 90px;
}
.degree{
	color: rgb(140,140,140);
	margin: 10px;
}
.containUnit{
	border-style: none;
}
#temp{
	color: rgb(1,1,1);
	padding: 2px 55px;
	font-size: 30px;
	border-color: rgb(170,170,170);
	border-radius: 5px;
	border-style: solid;
	text-align: center;
}
#result{
	background-color: rgb(255,0,0);
	color: white;
	margin: 10px 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 75px;
}